APP_NAME=TU_VALOR_AQUI
APP_ENV=TU_VALOR_AQUI
APP_KEY=TU_VALOR_AQUI
APP_DEBUG=TU_VALOR_AQUI
APP_URL=TU_VALOR_AQUI

# No uses cookies, así que deja esto vacío:
SANCTUM_STATEFUL_DOMAINS=TU_VALOR_AQUI
SESSION_DOMAIN=TU_VALOR_AQUI

# DB, mail, etc.
DB_CONNECTION=TU_VALOR_AQUI
DB_HOST=TU_VALOR_AQUI

STRIPE_KEY=tu_stripe_key_aqui
STRIPE_SECRET=tu_stripe_secret_aqui
STRIPE_WEBHOOK_SECRET=TU_VALOR_AQUI

# Google OAuth
GOOGLE_CLIENT_ID=tu_client_id_aqui
GOOGLE_CLIENT_SECRET=tu_client_secret_aqui
GOOGLE_REDIRECT_URI=TU_VALOR_AQUI
